__pycache__/
.idea/
*.debuginfo
*.txt
*.log
pak_installer/dist
pak_installer/build
*.spec
*.ggc
*.ggc-journal
weibo_keywords
weibo_keywords/chromedriver.exe
weibo_keywords/main.py
weibo_keywords/spider.py
pak_installer/pak_installer_weibo.bat
